# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/
env/

# Database
*.sqlite3
*.db

# Environment
.env

# Media
media/products/*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
