<!DOCTYPE html>
<html>
<head>

    {% load static %}

    <meta charset="UTF-8">
    <title>{% block title %}Inope Store{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Inope Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Content -->
<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<!-- Footer -->
<footer class="text-center mt-5">
    <p>© 2026 Inope Store</p>
</footer>

</body>
</html>